<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand">
      <img width="5%" src="assets/52.jpg">
      Меня очень просили добавить этого человека | TaskCracker
    </a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        @if (auth.isAuthenticated$ | async) {
        <li class="nav-item me-3">
          <a class="nav-link" routerLink="/tasks">Задачи</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" routerLink="/tasks/new">Создать задачу</a>
        </li>
        }
      </ul>
  
      <div class="navbar-text">
       @if (auth.isAuthenticated$ | async) {
          <li class="nav-item">
            <a href="#" (click)="$event.preventDefault(); logout()"><button
                class="btn btn-outline-danger">Выход</button></a>
          </li>
          }
          @else {
          <li class="nav-item">
            <a routerLink="/login"><button class="btn btn-primary">Вход</button></a>
          </li>
          }
        </div>
    </div>
  </div>
</nav>
<router-outlet />